body{
    margin: auto;
    padding: auto;
}

nav{
    background-color: darkolivegreen;
    justify-content: space-between;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
   
}

ul li a{
    margin: 1em 2em;
    display: block;
    
    color: black;
}

.d-flex{
    align-items: center;
}

.logo1{

}
.bar{
    margin: auto;
}

.bou{
 margin: auto;
 padding: auto;
}

.logo2{
    justify-content: flex-end;
}

.head1{
    margin: auto;
}

.main{

}